.home {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* width: 1440px; */
  height: 922px;
  background: var(--Black-98, #fafafa);
}

.sidebar {
  
  display: inline-flex;
  height: 922px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}

.navbar_account {
  display: flex;
  width: 224px;
  padding: 16px 10px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
  background: var(--Secondary-Navbar, #1e2640);
}

.nav_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex: 1 0 0;
}
.company_icon {
  display: flex;
  width: 192px;
  align-items: center;
  gap: var(--Spacing-spacing-05, 12px);
}
.rectangle {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--Black-100, #fff);
  position: relative;
}
.rectangle_imagebox {
  width: 39px;
  height: 39px;
  position: absolute;
  left: 0.5px;
  top: 0.5px;
  border-radius: 4px;
  /* background: url(<path-to-image>), lightgray 50% / contain no-repeat; */
}
.middlebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
}
.middlebox_name_first {
  align-self: stretch;
  color: var(--Black-100, #fff);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 146.667% */
}
.middlebox_name_second {
  align-self: stretch;
  color: var(--Black-100, #fff);
  font-family: Galano Grotesque;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
  text-decoration-line: underline;
}
.downicon {
  width: var(--Spacing-spacing-07, 20px);
  height: var(--Spacing-spacing-07, 20px);
  flex-shrink: 0;
}

.pages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
}
.navbutton {
  display: flex;
  width: 208px;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 12px;
  border-radius: 4px;
  cursor: pointer;
}
.navbutton_current {
  display: flex;
  width: 208px;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 12px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1);
}
.navbutton_svg {
  width: var(--Spacing-spacing-07, 20px);
  height: var(--Spacing-spacing-07, 20px);
  flex-shrink: 0;
  opacity: 0.8;
}
.navbutton_name {
  color: var(--Black-100, #fff);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  opacity: 0.8;
}
.navbutton_name_current {
  color: var(--Black-100, #fff);
  font-family: Galano Grotesque;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
.nav_bottom {
  display: flex;
  width: 192px;
  padding: 6px 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: #353c53;
}

.nav_bottom_box {
  display: flex;
  align-items: center;
  gap: var(--Spacing-spacing-05, 12px);
}

.nav_bottom_box_first {
  display: flex;
  padding: 6px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1);
}
.nav_bottom_box_second {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.nav_bottom_box_second_name1 {
  color: var(--Black-100, #fff);

  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
  opacity: 0.8;
}

.nav_bottom_box_second_name2 {
  color: var(--Black-100, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.header {
  display: flex;
  width: 1211px;
  padding: 12px 32px;
  align-items: center;
  gap: 16px;
  border-bottom: 1px solid #d9d9d9;
  background: var(--Black-100, #fff);
}

.header_first {
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
}

.header_first_left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.payoutsname {
  color: #1a181e;
  font-family: Galano Grotesque;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.header_first_right {
  display: flex;
  align-items: center;
  gap: 6px;
}

.header_first_right_svg {
  width: 14px;
  height: 14px;
}

.header_first_right_para {
  color: #4d4d4d;
  font-family: Galano Grotesque;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.header_second {
  width: 400px;
  padding: 9px 16px;
  display: flex;
  align-items: center;
  gap: var(--Spacing-spacing-04, 8px);
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 6px;
  background: #f2f2f2;
}

.header_second_icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.header_second_para {
  color: #808080;
  font-family: Galano Grotesque;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
}

.header_third {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: var(--Spacing-spacing-04, 8px);
  flex: 1 0 0;
}

.header_third_box {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.container {
  width: 1152px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  margin: 32px 32px 32px 32px;
}

.overview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.overview_first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.overview_first_heading {
  color: var(--Black-12, #1a181e);
  font-family: Galano Grotesque;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.overview_first_last {
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  border: 1px solid var(--Black-85, #d9d9d9);
  background: var(--Black-100, #fff);
  padding: 4px;
  width: 137px;
  /* height: 36px; */
  flex-shrink: 0;
}

.overview_first_last_para {
  color: var(--Black-30, #4d4d4d);
  font-family: Galano Grotesque;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.overview_first_last_svg {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.overview_second {
  display: flex;
  align-items: flex-start;
  gap: var(--Spacing-spacing-07, 20px);
  align-self: stretch;
}

.overview_second_box_first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  box-shadow: 0px 2px 6px 0px rgba(26, 24, 30, 0.04);
  position: relative;
}

.overview_second_box_first_top {
  display: flex;
  height: 154px;
  padding: var(--Spacing-spacing-07, 20px);
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-radius: var(--Spacing-spacing-04, 8px);
  background: var(--Primary-Blue, #146eb4);
}

.overview_second_box_first_top_pricebox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.overview_second_box_first_top_pricebox_nextpayout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.overview_second_box_first_top_pricebox_nextpayout_name {
  display: flex;
  align-items: center;
  gap: var(--Spacing-spacing-04, 8px);
}

.overview_second_box_first_top_pricebox_nextpayout_name_head {
  color: var(--Black-100, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.overview_second_box_first_top_pricebox_nextpayout_blank {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.overview_second_box_first_top_pricebox_money {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.overview_second_box_first_top_pricebox_money_num {
  color: var(--Black-100, #fff);
  font-family: Galano Grotesque;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; /* 118.75% */
}

.overview_second_box_first_top_pricebox_money_linkbox {
  display: flex;
  align-items: center;
}

.overview_second_box_first_top_pricebox_money_linkbox_link {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.overview_second_box_first_top_pricebox_money_linkbox_link_name {
  color: var(--Black-100, #fff);
  font-family: Galano Grotesque;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  text-decoration-line: underline;
}

.overview_second_box_first_top_pricebox_money_linkbox_link_svg {
  width: 24px;
  height: 24px;
}

.overview_second_box_first_bottom {
  display: flex;
  width: 322.67px;
  padding: var(--Spacing-spacing-04, 8px) 24px;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  right: -0.003px;
  bottom: 0px;
  border-radius: var(--Spacing-spacing-04, 8px);
  background: var(--Hover-Blue, #0e4f82);
}

.overview_second_box_first_bottom_first_head {
  color: var(--Black-95, #f2f2f2);
  font-family: Galano Grotesque;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.overview_second_box_first_bottom_second_head {
  color: var(--Black-95, #f2f2f2);
  font-family: Galano Grotesque;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.overview_second_box_second,
.overview_second_box_third {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex: 1 0 0;
}

.overview_second_box_second_space {
  display: flex;
  padding: var(--Spacing-spacing-07, 20px);
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  border-radius: var(--Spacing-spacing-04, 8px);
  background: var(--Black-100, #fff);
  box-shadow: 0px 2px 6px 0px rgba(26, 24, 30, 0.04);
}

.overview_second_box_second_space_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.overview_second_box_second_space_box_top {
  display: flex;
  align-items: center;
  gap: var(--Spacing-spacing-04, 8px);
}
.overview_second_box_second_space_box_top_amount {
  color: var(--Black-30, #4d4d4d);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.overview_second_box_second_space_box_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.overview_second_box_second_space_box_bottom_price {
  color: var(--Black-12, #1a181e);
  font-family: Galano Grotesque;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; /* 118.75% */
}

.overview_second_box_second_space_box_bottom_box {
  display: flex;
  align-items: center;
}

.overview_second_box_second_space_box_bottom_box_link {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.overview_second_box_second_space_box_bottom_box_link_name {
  color: var(--Primary-Blue, #146eb4);
  font-family: Galano Grotesque;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  text-decoration-line: underline;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Spacing-spacing-07, 20px);
  margin-top: 10px;
}

.section_namebutton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Spacing-spacing-07, 20px);
}

.section_namebutton_name {
  color: var(--Black-12, #1a181e);
  font-family: Galano Grotesque;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */
}

.section_namebutton_box {
  display: flex;
  align-items: flex-start;
  gap: var(--Spacing-spacing-05, 12px);
}

.section_namebutton_box_button_first {
  display: flex;
  padding: 6px 16px;
  align-items: center;
  gap: 6px;
  border-radius: 40px;
  background: var(--Primary-Blue, #146eb4);
}
.section_namebutton_box_button_first_name {
  color: var(--Black-100, #fff);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.section_namebutton_box_button_second {
  display: flex;
  padding: 6px 16px;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: var(--Black-90, #e6e6e6);
}

.section_namebutton_box_button_second_name {
  color: var(--Black-50, #808080);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.section_tables {
  display: flex;
  width: 1152px;
  padding: var(--Spacing-spacing-05, 12px) var(--Spacing-spacing-05, 12px)
    var(--Spacing-spacing-04, 8px) var(--Spacing-spacing-05, 12px);
  flex-direction: column;
  align-items: flex-end;
  /* margin-top: 20px; */
  border-radius: var(--Spacing-spacing-04, 8px);
  background: var(--Black-100, #fff);
  box-shadow: 0px 2px 6px 0px rgba(26, 24, 30, 0.04);
}

.section_tables_header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--Spacing-spacing-05, 12px);
}

.section_tables_header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.section_tables_header_bottom {
  display: flex;
  width: 1128px;
  padding: 10px var(--Spacing-spacing-05, 12px);
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  border-radius: 4px;
  background: var(--Black-95, #f2f2f2);
}

.section_tables_header_top_searchbox {
  display: flex;
  width: 248px;
  align-items: flex-start;
}

.section_tables_header_top_searchbox_box {
  display: flex;
  padding: 10px 16px;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;

  border-radius: 4px;
  border: 1px solid var(--Black-85, #d9d9d9);
  background: var(--Black-100, #fff);
}

.section_tables_header_top_searchbox_name {
  color: var(--Black-60, #999);
  font-family: Galano Grotesque;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.section_tables_header_top_sortbox {
  display: flex;
  align-items: center;
  gap: var(--Spacing-spacing-05, 12px);
}

.section_tables_header_top_sortbox_box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.section_tables_header_top_sortbox_box_namebox {
  display: flex;
  align-items: center;
  gap: var(--Spacing-spacing-05, 12px);
}

.section_tables_header_top_sortbox_box_namebox_flexbox {
  display: flex;
  padding: 6px var(--Spacing-spacing-05, 12px);
  align-items: center;
  gap: 6px;
  border-radius: 4px;
  border: 1px solid var(--Black-85, #d9d9d9);
  background: var(--Black-100, #fff);
}

.section_tables_header_top_sortbox_box_namebox_flexbox_name {
  color: var(--Black-30, #4d4d4d);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.section_tables_header_top_sortbox_box_iconbox {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--Black-85, #d9d9d9);
}
.section_tables_header_top_sortbox_box_iconbox_svg {
  width: var(--Spacing-spacing-07, 20px);
  height: var(--Spacing-spacing-07, 20px);
  flex-shrink: 0;
  padding: 10px;
}

.section_tables_header_bottom {
  display: flex;
  width: 1128px;
  padding: 10px var(--Spacing-spacing-05, 12px);
  align-items: center;
  gap: 40px;
  border-radius: 4px;
  background: var(--Black-95, #f2f2f2);
}

.cell_header_row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: -1px;
  flex: 1 0 0;
}
.cell_header_row_textbox {
  display: flex;
  align-items: center;
  gap: 4px;
}

.cell_header_row_textbox_name {
  color: var(--Black-30, #4d4d4d);
  font-family: Galano Grotesque;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.data_table {
  display: flex;
  width: 1128px;
  height: 48px;
  padding: 14px var(--Spacing-spacing-05, 12px);
  align-items: center;
  gap: 40px;
  background: var(--Black-100, #fff);
  border-bottom: 1px solid rgb(234, 224, 224);
}

.data_table_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: -1px;
  flex: 1 0 0;
  background: var(--Black-100, #fff);
}

.data_table_column_status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.data_table_column_status_name {
  color: var(--Black-12, #1a181e);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
